	<div class="browse">
		<div class="container">
			<div class="row">
				<!-- featured-jobs start here -->
				<div class="browse-jobs">
					<h1>BROWSE JOBS</h1>
					<div class="border"></div>
					<div class="border1"></div>
				</div>
				<!-- featured-jobs end here -->

				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="matter">
						<a>
							<div class="boxbor">
								<i class="fa fa-desktop" aria-hidden="true"></i>
								<span>Information Technology</span>
							</div>
						</a>
					</div>	
				</div>

				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="matter">
						<a>
							<div class="boxbor">
								<i class="fa fa-university" aria-hidden="true"></i>
								<span>Banking</span>
							</div>
						</a>
					</div>
				</div>

			    <div class="col-md-3 col-sm-3 col-xs-12">
					<div class="matter">
						<a>
							<div class="boxbor">
								<i class="fa fa-money" aria-hidden="true"></i>
								<span>Accounting</span>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="matter">
						<a>
							<div class="boxbor">
								<i class="fa fa-bar-chart" aria-hidden="true"></i>
								<span>Sales & marketing</span>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="matter">
						<a>
							<div class="boxbor">
								<i class="fa fa-tachometer" aria-hidden="true"></i>
								<span>Digital & Creative</span>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="matter">
						<a>
							<div class="boxbor">
								<i class="fa fa-suitcase" aria-hidden="true"></i>
								<span>Management</span>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="matter">
						<a>
							<div class="boxbor">
								<i class="fa fa-gavel" aria-hidden="true"></i>
								<span>Legal Jobs</span>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="matter">
						<a>
							<div class="boxbor">
								<i class="fa fa-tags" aria-hidden="true"></i>
								<span>Retail</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>