/*----------
[ top / #top ]
-------------*/

#top-links {
	padding-top: 0px;
}
#top-links .button{
	padding:10px 0px 9px;
	margin:0px;
}
#top-links .button li{
	line-height:18px;
}
#top-links .button li a{
	color: #fff;
	font-size:14px;
	border-right:1px solid #fff;
	padding: 0 10px;
	vertical-align:middle;
	font-weight:400;
}
#top-links  .button li:nth-child(3) {
	border-right:none;
}
#top-links .icon{
	padding:9px 0px 9px;
	margin:0px;
}
#top-links .icon li{
	padding:0 23px 0 0;
}
#top-links .icon li a{
	color: #fff;
	text-decoration: none;
	font-size:14px;
	vertical-align:middle;
	font-weight:400;
	line-height:20.5px;
}
#top-links  .icon li:nth-child(5){
	padding-right:0px;
}
#top-links .icon li a:hover, #top-links .button li a:hover{
	color:#ff9900 !important;
}