<!-- about start here -->
	<div id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<!-- about-content start here -->
					<div class="about-content">
						<h1>About us</h1>
						<ul class="list-inline">
							<li>
								<a routerLink="/home">Home</a>
							</li>
							<li>></li>
							<li>
								<a routerLink="/about">About us</a>
							</li>
						</ul>
					</div>
				<!-- about-content end here -->
				</div>
			</div>
		</div>
	</div>
<!-- about end here -->
<!-- abouts start here -->
	<div id="abouts">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<!-- about-detail start here -->
					<div class="about-detail">
						<h1>Who we are</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam porttitor tristique. Nunc ante elit, euismod id leo sit amet, feugiat sollicitudin nulla. Sed lobortis purus velit, at porta felis accumsan quis. Suspendisse tincidunt libero urna, sed tincidunt ligula auctor non. Suspendisse potenti. Maecenas vulputate . Sed maximus gravida nibh, quis placerat sapien. Fusce eu libero at m</p>
					</div>	
					<!-- about-detail end here -->
					<!-- inner start here -->
					<div class="row inner">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<img src="assets/images/about-image.jpg" class="img-responsive" alt="about us" title="about us">
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 paddleft">
							<p>
							Ut erat est, posuere ac condimentum in, lobortis nec mi. Nulla facilisi. Suspendisse maximus vestibulum elit, nec semper orci ullamcorper eget. Duis ut risus in metus rhoncus vestibulum non eget orci. Proin velit leo, volutpat sed dapibus et, dignissim nec diam. Cras vel libero in quam sagittis malesuada. Fusce eu accumsan lectus, et faucibus ipsum. Nam tempor gravida massa, nec blandit magna tincidunt eu. Nulla quis porta metus, sed tincidunt metus. Sed vitae est venenatis, lobortis quam sed, imperdiet lectus. Nam pretium fermentum enim, eu viverra sapien bibendum lacinia. Morbi libero lacus, mattis sit amet sodales ac, convallis sit amet ligula. Sed rhoncus mauris sollicitudin libero faucibus elementum. Sed turpis leo, pellentesque ac dignissim ut, efficitur et elit. Maecenas finibus tellus sem, sit amet semper eros ultricies sit amet from a Lorem Ipsum passage, and going through the cites of the word in classical literature.
							</p>
						</div>
					</div>	
					<!-- inner end here -->
					<!-- mission start here -->
					<div class="mission">
						<h1>Our Mission</h1>
						<p>Ut erat est, posuere ac condimentum in, lobortis nec mi. Nulla facilisi. Suspendisse maximus vestibulum elit, nec semper orci ullamcorper eget. Duis ut risus in metus rhoncus vestibulum non eget orci. Proin velit leo, volutpat sed dapibus et, dignissim nec diam. Cras vel libero in quam sagittis malesuada. Fusce eu accumsan lectus, et faucibus ipsum. Nam tempor gravida massa,</p>
					</div>
					<!-- mission end here -->
					<!-- team start here -->
					<div class="team">
						<h1>Our Team</h1>
						<ul class="list-inline">
							<li>
								<div class="client">
									<img src="assets/images/image1.png" class="img-responsive" alt="image1" title="image1">
									<h5>John Doe</h5>
									<p>Graphics Designer </p>
									<ul class="list-inline soical">
										<li>
											<a href="https://www.facebook.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-facebook"></i>
											</a>
										</li>
										<li>
											<a href="https://twitter.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="https://plus.google.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-google"></i>
											</a>
										</li>
										<li>
											<a href="https://www.instagram.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-instagram"></i>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<div class="client">
									<img src="assets/images/image2.png" class="img-responsive" alt="image2" title="image2">
									<h5>John Doe</h5>
									<p>Graphics Designer </p>
									<ul class="list-inline soical">
										<li>
											<a href="https://www.facebook.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-facebook"></i>
											</a>
										</li>
										<li>
											<a href="https://twitter.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="https://plus.google.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-google"></i>
											</a>
										</li>
										<li>
											<a href="https://www.instagram.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-instagram"></i>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<div class="client">
									<img src="assets/images/image3.png" class="img-responsive" alt="image3" title="image3">
									<h5>John Doe</h5>
									<p>Graphics Designer </p>
									<ul class="list-inline soical">
										<li>
											<a href="https://www.facebook.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-facebook"></i>
											</a>
										</li>
										<li>
											<a href="https://twitter.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="https://plus.google.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-google"></i>
											</a>
										</li>
										<li>
											<a href="https://www.instagram.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-instagram"></i>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<div class="client">
									<img src="assets/images/image4.png" class="img-responsive" alt="image4" title="image4">
									<h5>John Doe</h5>
									<p>Graphics Designer </p>
									<ul class="list-inline soical">
										<li>
											<a href="https://www.facebook.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-facebook"></i>
											</a>
										</li>
										<li>
											<a href="https://twitter.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="https://plus.google.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-google"></i>
											</a>
										</li>
										<li>
											<a href="https://www.instagram.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-instagram"></i>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<div class="client">
									<img src="assets/images/image5.png" class="img-responsive" alt="image5" title="image5">
									<h5>John Doe</h5>
									<p>Graphics Designer </p>
									<ul class="list-inline soical">
										<li>
											<a href="https://www.facebook.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-facebook"></i>
											</a>
										</li>
										<li>
											<a href="https://twitter.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="https://plus.google.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-google"></i>
											</a>
										</li>
										<li>
											<a href="https://www.instagram.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-instagram"></i>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<div class="client">
									<img src="assets/images/image6.png" class="img-responsive" alt="image6" title="image6">
									<h5>John Doe</h5>
									<p>Graphics Designer </p>
									<ul class="list-inline soical">
										<li>
											<a href="https://www.facebook.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-facebook"></i>
											</a>
										</li>
										<li>
											<a href="https://twitter.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="https://plus.google.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-google"></i>
											</a>
										</li>
										<li>
											<a href="https://www.instagram.com/" target="_blank">
												<i aria-hidden="true" class="fa fa-instagram"></i>
											</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<!-- team end here -->
				</div>
			</div>
		</div>
	</div>
<!-- abouts end here -->