<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-3"></div>
      <div class="col-md-6" *ngFor ="let showJobs of displayJobs">
          <div class="matter">
              <h4>{{showJobs.job_title}}</h4>
              <h6>{{showJobs.company_name}}</h6>
              <ul class="list-inline">
                <li>
                  <a href="#"><i class="fa fa-bookmark" aria-hidden="true"></i>{{showJobs.job_type}}</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> {{showJobs.location}}</a>
                </li>
              </ul>
              <p>{{showJobs.job_desc}}</p>
          </div>
        <hr>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
