<!-- slider start here -->
<div>
	<app-slider></app-slider>
</div>	
<!-- slider end here -->
<!-- featured start here -->	
<div>
	<app-featured-jobs></app-featured-jobs>
</div>
<!-- featured end here -->
<!-- browse start here -->
<div>
	<app-job-industry></app-job-industry>
</div>
<!-- browse end here -->
<!-- testimonial start here -->
<div>
	<app-testimonials></app-testimonials>
</div>
<!-- testimonial ends here -->
<!-- partner start here -->
<div>
	<app-partners></app-partners>
</div>
<!-- partner end here -->